* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.mainpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  h1 {
    font-size: 60px;
    margin: 20px;
  }
  img {
    height: 150px;
  }
  .leagues {
    display: flex;
    gap: 20px;
  }
  .league {
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    :hover {
      opacity: 0.6;
    }
  }
}
