* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
}
.mainpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h1 {
    font-size: 60px;
    margin: 30px;
  }
  img {
    height: 150px;
  }
  .leagues {
    display: flex;
    gap: 20px;
  }
  .league {
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    :hover {
      opacity: 0.6;
    }
  }
}
.laligastandings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 36px;
  }
  .team_info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  td {
    padding: 8px 15px;
    text-align: center;
    margin-bottom: 5px;
  }
  table {
    border-collapse: collapse;
  }
  tr {
    border-bottom: 1px solid white;
  }
  img {
    height: 30px;
  }
  .position_color {
    border-radius: 8px;
  }
  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    color: black;
  }
}
